{% extends 'layouts/blank.html' %}
{% load i18n %}

{% block content %}
<div class="flex justify-center p-4 md:p-8">
    <div class="flex flex-col w-full max-w-2xl">
        <div class="text-2xl font-bold pb-4">
          {% trans 'Information' %}
        </div>
        <div class="pb-2">
            <a href="{% url 'admin_tag_overview' %}" class="text-primary hover:text-secondary">{% trans 'Manage Tags' %}</a>
        </div>
        <div class="flex flex-col lg:flex-row text-lg font-semibold gap-y-5 md:gap-x-5
                    [&>div]:flex [&>div]:flex-col [&>div]:border [&>div]:border-slate-300 dark:[&>div]:border-slate-600 lg:[&>div]:w-58 [&>div]:px-4 [&>div]:py-2 [&>div]:rounded-sm">
            <div id="number_of_users">
              <span>{% trans 'Total Users' %}</span>
              <span class="text-3xl">{{ number_of_users }}</span>
            </div>
            <div id="number_of_pdfs">
              <span>{% trans 'Total PDFs' %}</span>
              <span class="text-3xl">{{ number_of_pdfs }}</span>
            </div>
            <div id="current_version">
              <span>{% trans 'Version' %}</span>
              <span class="text-3xl">{{ current_version }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
